/* Font  */
body {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section  */

.herder {
    background: rgba(255, 144, 14, 0.1);
    height: 950px;
}

/* Nav Bar Style  */

nav {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    height: 80px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    /* align-items: center; */
    gap: 25px;
}

.nav-bar1:hover {
    color: #FD6E0A;
}

.nav-bar2:hover {
    color: #FD6E0A;
}

.nav-bar3:hover {
    color: #FD6E0A;
}

.nav-bar4:hover {
    color: #FD6E0A;
}

.nav-bar5:hover {
    color: #FD6E0A;
}

/* Hader Start Banner  */

.start-banner {
    text-align: center;
    margin: 0 200px;
}

.start-banner-titel {
    font-weight: 700;
    font-size: 64px;
}

.start-banner-description {
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}

/* Hader Start Banner Button */

.btn-primary1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 15px;
    background: #FD6E0A;
}

.btn-primary1:hover {
    border: solid 3px #FD6E0A;
    background-color: wheat;
    color: black;
}

/*Hader Start Banner Image*/

.start-banner-image {
    /* width: 830px; */
    position: relative;
    top: 25px;
    width: 100%;
    max-width: 1250px;
}

/* Main Section 01  */
main {
    padding: 0 70px;
}

/* Main Section 01 Image  */

.main-photo-gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

/* Main Section 01 Banner 01  */
.main-banner1 {
    margin-top: 70px;
    display: flex;
    gap: 50px;
    padding: 0 80px;
}

.main-banner1-text {
    position: relative;
    top: 200px;
}

.text2 {
    width: 200px;
}

.orenge {
    color: #FF900E;
}

.var {
    color: #727272;
}

.main-banner1-description {
    color: #727272;
}

/* Main Second Banner  */

.main-banner2 {
    margin-top: 60px;
    width: 450px;
    padding: 0 100px;
}

.main-banner2-titel {
    border-left: 5px solid #FF900E;
    font-size: 45px;
    padding-left: 30px;
}

.image2 {
    position: absolute;
    width: 450px;
    height: 650px;
    left: 690px;
    top: 1800px;
}

.btn-primary2 {
    position: relative;
    left: 450px;
    bottom: 130px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 120px;
    border-radius: 15px;
    background: #FD6E0A;
}

.btn-size {
    display: flex;
    font-size: 30px;
}

.btn-primary2:hover {
    border: solid 3px #FD6E0A;
    background-color: wheat;
    color: black;
}

/* Some Facts Section  */

.Facts{
    margin-left: 100px;
}
.Facts-titel {
    font-weight: 700;
    font-size: 45px;
}

.Facts-description {
    margin-left: 10px;
    margin-bottom: 60px;
    width: 430px;
    font-size: 16px;
    color: #727272;
}

.container {
    display: flex;
    gap: 20px;
    width: 1000px;
}

.box {
    display: grid;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 400px;
    border: solid #FD6E0A;
    padding: 30px 30px;
}

.box:hover {
    background-color: #FD6E0A;
}

.box-text {
    text-align: center;
    font-size: 30px;
}

.box-description {
    text-align: center;
    font-size: 20px;
}

.box-image {
    margin-left: 60px;
}

/* Our Team  */

.team{
    margin-top: 100px;
}
.team-titel{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}
.team-name{
    color: #727272;
    padding: 20px;
}
.palyers{
display: grid;
grid-template-columns: repeat(3, 1fr);

}
.palyer{
    margin-left: 120px;
    display: flex;
    align-items: center;
    
}
.palyer img{
    width: 56px;
    height: 56px;
}

/* Our Sponspors  */

.Sponspors{
    margin-top: 100px;
    text-align: center;
}
.Sponspors-titel{
    font-weight: 700;
    font-size: 45px;
}
.nspors-description {
    margin-left: 10px;
    margin-bottom: 60px;
    width: 430px;
    font-size: 16px;
    color: #727272;
}

/* image-container */
.image-container{
    margin-top: 50px;
    display: flex;
    gap: 40px;
    margin-left: 100px;
}

/* Footer Section  */
footer{
    position: relative;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    text-align: center;
    background: #FFF4E7;
    width: 1000px;
    height: 60px;
    padding: 10px;
border-radius: 8px;
}